$walnut-bridge-color: (
  "base":    #367DB3);

$TL-offwhite: #f7f7f7;
$TL-dark: #333;





//pretty drop shadow (materialize only has box shadows)
.shadow {
  -webkit-filter: drop-shadow(10px 20px 10px rgba(0,0,0,.5));
   -moz-filter: drop-shadow(10px 20px 10px rgba(0,0,0,.5));
   -ms-filter: drop-shadow(10px 20px 10px rgba(0,0,0,.5));
   -o-filter: drop-shadow(10px 20px 10px rgba(0,0,0,.5));
   filter: drop-shadow(10px 20px 10px rgba(0,0,0,.5));
}

.shadow2 {
  -webkit-filter: drop-shadow(0px 5px 10px rgba(0,0,0,.7));
   -moz-filter: drop-shadow(0px 5px 10px rgba(0,0,0,.7));
   -ms-filter: drop-shadow(0px 5px 10px rgba(0,0,0,.7));
   -o-filter: drop-shadow(0px 5px 10px rgba(0,0,0,.7));
   filter: drop-shadow(0px 5px 10px rgba(0,0,0,.7));
}

// slider font breakpoints
.heading {
  font-size: 3.56rem !important;

  @media #{$large-and-up} {
    font-size: 3.56rem !important;
  }
  @media #{$medium-only} {
    font-size: 3.00rem !important;
  }
  @media #{$small-and-down} {
    font-size: 2.56rem !important;
  }
}


//custom TL logo positioning
  .logo-wrapper {
    position: absolute;
    z-index: 997;
    top: 1%;
    right: 1%;
    text-align: right;

    img {
      width: 15%;
      min-width: 80px !important;

   }
  }

// scroll down link positioning
  .scroll-wrapper {
    position: absolute;
    z-index: 997;
    bottom: 1%;
    width: 100%;
    text-align: center;

    i {
      font-size: 60px;
   }
  }

//hero parallax caption positioning
  .caption-wrapper {
    position: absolute;
    color: #fff;
    z-index: 997;
    top: 15%;
    left: 7%;
    width: 55%;
    text-align: left;
  }

//custom hover styling
  .hoverable-flat-scroll {
    transition: color .25s;
    color: #ffffff;
  }

  //adding flat hover styling
  .hoverable-flat-scroll:hover {
    transition: color .25s;
    color: $primary-color;
  }

//hover zoom
  .scale-hover {
     transform: scale(1);
     transition: transform .2s !important;
   }

   .scale-hover:hover {
     transform: scale(1.15);
     transition: transform .3s !important;
   }

// css shite for sticky navbar
